pl_ingest_ecdc_data.rtf
{\rtf1\ansi\ansicpg1252\cocoartf2638
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue254;\red0\green0\blue0;\red144\green1\blue18;
\red9\green60\blue148;\red19\green118\blue70;}
{\*\expandedcolortbl;;\cssrgb\c100000\c100000\c99608;\cssrgb\c0\c0\c0;\cssrgb\c63922\c8235\c8235;
\cssrgb\c1569\c31765\c64706;\cssrgb\c3529\c52549\c34510;}
\margl1440\margr1440\vieww22100\viewh11560\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs24 \cf0 \cb2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec3 \{\cb1 \
\cb2     \cf4 \strokec4 "name"\cf0 \strokec3 : \cf5 \strokec5 "pl_ingest_ecdc_data"\cf0 \strokec3 ,\cb1 \
\cb2     \cf4 \strokec4 "properties"\cf0 \strokec3 : \{\cb1 \
\cb2         \cf4 \strokec4 "activities"\cf0 \strokec3 : [\cb1 \
\cb2             \{\cb1 \
\cb2                 \cf4 \strokec4 "name"\cf0 \strokec3 : \cf5 \strokec5 "Lookup ECDC File List"\cf0 \strokec3 ,\cb1 \
\cb2                 \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Lookup"\cf0 \strokec3 ,\cb1 \
\cb2                 \cf4 \strokec4 "dependsOn"\cf0 \strokec3 : [],\cb1 \
\cb2                 \cf4 \strokec4 "policy"\cf0 \strokec3 : \{\cb1 \
\cb2                     \cf4 \strokec4 "timeout"\cf0 \strokec3 : \cf5 \strokec5 "0.12:00:00"\cf0 \strokec3 ,\cb1 \
\cb2                     \cf4 \strokec4 "retry"\cf0 \strokec3 : \cf6 \strokec6 0\cf0 \strokec3 ,\cb1 \
\cb2                     \cf4 \strokec4 "retryIntervalInSeconds"\cf0 \strokec3 : \cf6 \strokec6 30\cf0 \strokec3 ,\cb1 \
\cb2                     \cf4 \strokec4 "secureOutput"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \strokec3 ,\cb1 \
\cb2                     \cf4 \strokec4 "secureInput"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \cb1 \strokec3 \
\cb2                 \},\cb1 \
\cb2                 \cf4 \strokec4 "userProperties"\cf0 \strokec3 : [],\cb1 \
\cb2                 \cf4 \strokec4 "typeProperties"\cf0 \strokec3 : \{\cb1 \
\cb2                     \cf4 \strokec4 "source"\cf0 \strokec3 : \{\cb1 \
\cb2                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "JsonSource"\cf0 \strokec3 ,\cb1 \
\cb2                         \cf4 \strokec4 "storeSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "AzureBlobStorageReadSettings"\cf0 \strokec3 ,\cb1 \
\cb2                             \cf4 \strokec4 "recursive"\cf0 \strokec3 : \cf5 \strokec5 true\cf0 \strokec3 ,\cb1 \
\cb2                             \cf4 \strokec4 "enablePartitionDiscovery"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \cb1 \strokec3 \
\cb2                         \},\cb1 \
\cb2                         \cf4 \strokec4 "formatSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "JsonReadSettings"\cf0 \cb1 \strokec3 \
\cb2                         \}\cb1 \
\cb2                     \},\cb1 \
\cb2                     \cf4 \strokec4 "dataset"\cf0 \strokec3 : \{\cb1 \
\cb2                         \cf4 \strokec4 "referenceName"\cf0 \strokec3 : \cf5 \strokec5 "ds_ecdc_file_list"\cf0 \strokec3 ,\cb1 \
\cb2                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DatasetReference"\cf0 \cb1 \strokec3 \
\cb2                     \},\cb1 \
\cb2                     \cf4 \strokec4 "firstRowOnly"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \cb1 \strokec3 \
\cb2                 \}\cb1 \
\cb2             \},\cb1 \
\cb2             \{\cb1 \
\cb2                 \cf4 \strokec4 "name"\cf0 \strokec3 : \cf5 \strokec5 "Execute Copy Data for every record"\cf0 \strokec3 ,\cb1 \
\cb2                 \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "ForEach"\cf0 \strokec3 ,\cb1 \
\cb2                 \cf4 \strokec4 "dependsOn"\cf0 \strokec3 : [\cb1 \
\cb2                     \{\cb1 \
\cb2                         \cf4 \strokec4 "activity"\cf0 \strokec3 : \cf5 \strokec5 "Lookup ECDC File List"\cf0 \strokec3 ,\cb1 \
\cb2                         \cf4 \strokec4 "dependencyConditions"\cf0 \strokec3 : [\cb1 \
\cb2                             \cf5 \strokec5 "Succeeded"\cf0 \cb1 \strokec3 \
\cb2                         ]\cb1 \
\cb2                     \}\cb1 \
\cb2                 ],\cb1 \
\cb2                 \cf4 \strokec4 "userProperties"\cf0 \strokec3 : [],\cb1 \
\cb2                 \cf4 \strokec4 "typeProperties"\cf0 \strokec3 : \{\cb1 \
\cb2                     \cf4 \strokec4 "items"\cf0 \strokec3 : \{\cb1 \
\cb2                         \cf4 \strokec4 "value"\cf0 \strokec3 : \cf5 \strokec5 "@activity('Lookup ECDC File List').output.value"\cf0 \strokec3 ,\cb1 \
\cb2                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Expression"\cf0 \cb1 \strokec3 \
\cb2                     \},\cb1 \
\cb2                     \cf4 \strokec4 "isSequential"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \strokec3 ,\cb1 \
\cb2                     \cf4 \strokec4 "activities"\cf0 \strokec3 : [\cb1 \
\cb2                         \{\cb1 \
\cb2                             \cf4 \strokec4 "name"\cf0 \strokec3 : \cf5 \strokec5 "Copy ECDC Data"\cf0 \strokec3 ,\cb1 \
\cb2                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Copy"\cf0 \strokec3 ,\cb1 \
\cb2                             \cf4 \strokec4 "dependsOn"\cf0 \strokec3 : [],\cb1 \
\cb2                             \cf4 \strokec4 "policy"\cf0 \strokec3 : \{\cb1 \
\cb2                                 \cf4 \strokec4 "timeout"\cf0 \strokec3 : \cf5 \strokec5 "0.12:00:00"\cf0 \strokec3 ,\cb1 \
\cb2                                 \cf4 \strokec4 "retry"\cf0 \strokec3 : \cf6 \strokec6 0\cf0 \strokec3 ,\cb1 \
\cb2                                 \cf4 \strokec4 "retryIntervalInSeconds"\cf0 \strokec3 : \cf6 \strokec6 30\cf0 \strokec3 ,\cb1 \
\cb2                                 \cf4 \strokec4 "secureOutput"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \strokec3 ,\cb1 \
\cb2                                 \cf4 \strokec4 "secureInput"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \cb1 \strokec3 \
\cb2                             \},\cb1 \
\cb2                             \cf4 \strokec4 "userProperties"\cf0 \strokec3 : [],\cb1 \
\cb2                             \cf4 \strokec4 "typeProperties"\cf0 \strokec3 : \{\cb1 \
\cb2                                 \cf4 \strokec4 "source"\cf0 \strokec3 : \{\cb1 \
\cb2                                     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DelimitedTextSource"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "storeSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "HttpReadSettings"\cf0 \strokec3 ,\cb1 \
\cb2                                         \cf4 \strokec4 "requestMethod"\cf0 \strokec3 : \cf5 \strokec5 "GET"\cf0 \cb1 \strokec3 \
\cb2                                     \},\cb1 \
\cb2                                     \cf4 \strokec4 "formatSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DelimitedTextReadSettings"\cf0 \cb1 \strokec3 \
\cb2                                     \}\cb1 \
\cb2                                 \},\cb1 \
\cb2                                 \cf4 \strokec4 "sink"\cf0 \strokec3 : \{\cb1 \
\cb2                                     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DelimitedTextSink"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "storeSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "AzureBlobFSWriteSettings"\cf0 \cb1 \strokec3 \
\cb2                                     \},\cb1 \
\cb2                                     \cf4 \strokec4 "formatSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DelimitedTextWriteSettings"\cf0 \strokec3 ,\cb1 \
\cb2                                         \cf4 \strokec4 "quoteAllText"\cf0 \strokec3 : \cf5 \strokec5 true\cf0 \strokec3 ,\cb1 \
\cb2                                         \cf4 \strokec4 "fileExtension"\cf0 \strokec3 : \cf5 \strokec5 ".txt"\cf0 \cb1 \strokec3 \
\cb2                                     \}\cb1 \
\cb2                                 \},\cb1 \
\cb2                                 \cf4 \strokec4 "enableStaging"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \strokec3 ,\cb1 \
\cb2                                 \cf4 \strokec4 "translator"\cf0 \strokec3 : \{\cb1 \
\cb2                                     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "TabularTranslator"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "typeConversion"\cf0 \strokec3 : \cf5 \strokec5 true\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "typeConversionSettings"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "allowDataTruncation"\cf0 \strokec3 : \cf5 \strokec5 true\cf0 \strokec3 ,\cb1 \
\cb2                                         \cf4 \strokec4 "treatBooleanAsNumber"\cf0 \strokec3 : \cf5 \strokec5 false\cf0 \cb1 \strokec3 \
\cb2                                     \}\cb1 \
\cb2                                 \}\cb1 \
\cb2                             \},\cb1 \
\cb2                             \cf4 \strokec4 "inputs"\cf0 \strokec3 : [\cb1 \
\cb2                                 \{\cb1 \
\cb2                                     \cf4 \strokec4 "referenceName"\cf0 \strokec3 : \cf5 \strokec5 "ds_raw_http_ecdc"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DatasetReference"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "parameters"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "sourceRelativeURL"\cf0 \strokec3 : \{\cb1 \
\cb2                                             \cf4 \strokec4 "value"\cf0 \strokec3 : \cf5 \strokec5 "@item().sourceRelativeURL"\cf0 \strokec3 ,\cb1 \
\cb2                                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Expression"\cf0 \cb1 \strokec3 \
\cb2                                         \},\cb1 \
\cb2                                         \cf4 \strokec4 "sourceBaseURL"\cf0 \strokec3 : \{\cb1 \
\cb2                                             \cf4 \strokec4 "value"\cf0 \strokec3 : \cf5 \strokec5 "@item().sourceBaseURL"\cf0 \strokec3 ,\cb1 \
\cb2                                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Expression"\cf0 \cb1 \strokec3 \
\cb2                                         \}\cb1 \
\cb2                                     \}\cb1 \
\cb2                                 \}\cb1 \
\cb2                             ],\cb1 \
\cb2                             \cf4 \strokec4 "outputs"\cf0 \strokec3 : [\cb1 \
\cb2                                 \{\cb1 \
\cb2                                     \cf4 \strokec4 "referenceName"\cf0 \strokec3 : \cf5 \strokec5 "ds_raw_ecdc_dl"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "DatasetReference"\cf0 \strokec3 ,\cb1 \
\cb2                                     \cf4 \strokec4 "parameters"\cf0 \strokec3 : \{\cb1 \
\cb2                                         \cf4 \strokec4 "fileName"\cf0 \strokec3 : \{\cb1 \
\cb2                                             \cf4 \strokec4 "value"\cf0 \strokec3 : \cf5 \strokec5 "@item().sinkFileName"\cf0 \strokec3 ,\cb1 \
\cb2                                             \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Expression"\cf0 \cb1 \strokec3 \
\cb2                                         \}\cb1 \
\cb2                                     \}\cb1 \
\cb2                                 \}\cb1 \
\cb2                             ]\cb1 \
\cb2                         \}\cb1 \
\cb2                     ]\cb1 \
\cb2                 \}\cb1 \
\cb2             \}\cb1 \
\cb2         ],\cb1 \
\cb2         \cf4 \strokec4 "folder"\cf0 \strokec3 : \{\cb1 \
\cb2             \cf4 \strokec4 "name"\cf0 \strokec3 : \cf5 \strokec5 "Ingest"\cf0 \cb1 \strokec3 \
\cb2         \},\cb1 \
\cb2         \cf4 \strokec4 "annotations"\cf0 \strokec3 : [],\cb1 \
\cb2         \cf4 \strokec4 "lastPublishTime"\cf0 \strokec3 : \cf5 \strokec5 "2022-12-13T00:27:52Z"\cf0 \cb1 \strokec3 \
\cb2     \},\cb1 \
\cb2     \cf4 \strokec4 "type"\cf0 \strokec3 : \cf5 \strokec5 "Microsoft.DataFactory/factories/pipelines"\cf0 \cb1 \strokec3 \
\cb2 \}\cb1 \
}